@import '_var';

.appic-editor-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .appic-editor-conatiner {
    min-height: calc(100% - 40px);
    box-shadow: 0 2px 5px 1px rgba(124, 124, 124, 0.2);
    margin: 10px;
    background: #fff;

    img {
      vertical-align: top;
    }
  }


  .appic-editor-form-list {
    min-height: 360px;

    .ghost {
      background: #fff;
      border: 1px dashed $primary-color;

      &::after {
        background: #fff;
      }
    }

    li.ghost {
      position: relative;
      line-height: 30px;
      list-style: none;
      font-size: 0;

      &::after {
        content: '放到这里';
        display: block;
        background: #fff;
        position: absolute;
        left: 50%;
        margin-left: -32px;
        top: 0;
        font-size: 16px;
        color: #999;
        z-index: 10;
      }
    }

    &-item {
      background: yellow;
    }
  }

  .appic-form-view {
    margin: 0;
    padding: 5px 10px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: block;
      z-index: 1001;
    }

    input::-webkit-input-placeholder {
      color: #666;
      opacity: 1;
    }

    &:hover {
      background: #ecf5ff;
    }

    &.active {
      background: $primary-background-color;
      // box-shadow: 0px 1px 10px 1px #90c7ff;
      z-index: 1111;
    }

    .wg-item {
      display: flex;
      line-height: 50px;
    }

  .widget-action-delete {
    position: absolute;
    right: 10px;
    bottom: -20px;
    z-index: 1009;
  }

  .widget-action-copy {
    position: absolute;
    right: 70px;
    bottom: -20px;
    z-index: 1009;
  }

  .wg-title {
      font-size: 14px;
      margin-right: 10px;
      color: #333;
    }

  }

}
