@import '_var';

.appic-editor-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .appic-editor-conatiner {
    min-height: calc(100% - 40px);
    box-shadow: 0 2px 5px 1px rgba(124, 124, 124, 0.2);
    margin: 10px;
    background: #fff;

    img {
      vertical-align: top;
    }
  }


  .appic-editor-form-list {
    min-height: 360px;

    .ghost {
      background: #fff;
      border: 1px dashed $primary-color;

      &::after {
        background: #fff;
      }
    }

    li.ghost {
      position: relative;
      line-height: 30px;
      list-style: none;
      font-size: 0;

      &::after {
        content: '放到这里';
        display: block;
        background: #fff;
        position: absolute;
        left: 50%;
        margin-left: -32px;
        top: 0;
        font-size: 16px;
        color: #999;
        z-index: 10;
      }
    }
  }

}
